integration-tests:
  name: Integration Tests
  runs-on: ubuntu-latest
  steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'
        cache: 'npm'

    - name: Install node dependencies
      run: npm install

    - name: Make scripts executable
      run: chmod +x ./scripts/local-aws-setup.sh

    - name: Build Containers
      run: docker compose up -d

    - name: Setup Local AWS Resources
      run: ./scripts/local-aws-setup.sh

    - name: Install Hurl globally
      run: |
        curl -LO https://github.com/Orange-OpenSource/hurl/releases/download/4.0.0/hurl_4.0.0_amd64.deb
        sudo dpkg -i hurl_4.0.0_amd64.deb

    - name: Run Hurl Tests
      run: hurl --test --glob "tests/integration/**/*.hurl"
